{% extends 'agendas_rest_api/_layouts/base3.html' %}
{% load static %}

<!-- head -->
{% block title %}América Analytics - Real Time{% endblock %}

{% block page_styles %}{% endblock %}

{% block conteudo%}
<!-- 1st row -->
<!-- Botão para abrir um modal com campos do filtro -->
<div class="container"> <!--class="row m-b-5"-->
	<div class="col-lg-12">
		<h6>Agendamentos  do App</h6>
		<div class="card card-block">
			<div ><a id="menu-modal" href="#" onclick="$('#myModal-sm').modal()"><i class="fas fa-bars"> Filtros</i> </a></div>
			<div class="col-lg-12">
				<canvas id="myChart"  onmouseover="this.style.cursor = 'context-menu';" onmouseout="this.style.transform='scale(1)'"></canvas>
				<!--this.style.transform='scale(1.003)'-->
			</div>
		</div>
	</div>
</div>

<div id="myModal-sm" class="modal fade">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Filtros</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<form id="form-filtro">
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<label for="exampleFormControlFile1">Estabelecimento</label>
								<select name="estabelecimento" id="estabelecimento" class="form-control form-control-sm">
								<option>Todos</option>
								<option>Hospital Jardim América</option>
								<option>Clinica de especialidades</option>
								<option>Hospital América</option>
								</select>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="form-group">
								<label for="exampleFormControlFile1">Início</label>
								<input type="date" name="dataInicio" id="dataInicio" class="form-control">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="exampleFormControlFile1">Fim</label>
								<input type="date" name="dataFim" id="dataFim" class="form-control">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" id="atualizar-grafico" class="btn btn-default" data-dismiss="modal">Atualizar Gráfico</button>
					</div>
				</form>
			</div>
			
		</div>
	</div>
</div>
<!-- /1st row -->
{% endblock %}

<!--BLOCO DE SCRIPTS-->
{% block page_scripts %}

<!-- IMPORTA OS JAVASCRIPTS PARA RENDERIZAR OS GRÁFICOS-->
<script src="{% static 'agendas_rest_api/js/myChart.js' %}"></script>

<!-- IMPORTA OS JAVASCRIPTS DESTA PÁGINA-->
<script src="{% static 'agendas_rest_api/js/agendamentosApp.js' %}"></script> 

<script type="text/javascript">	
	// ADICIONANDO MANIPULADORES DE EVENTO
	document.getElementById('myChart').onmousedown = detectRightButton;
	window.onload = loadData('myChart');

	// ATUALIZA OS DADOS DO GRÁFICO QUANDO O BOTÃO ATULAIZAR GRÁFICO É CLICADO
	document.getElementById('atualizar-grafico').addEventListener('click', function(e){
		e.preventDefault();
		var estabelecimento = $('#estabelecimento').val();
		var dataInicio = $('#dataInicio').val();
		var dataFim = $('#dataFim').val();
		loadData('myChart', estabelecimento, dataInicio, dataFim);
	})
</script>

{% endblock %}
<!--/BLOCO DE SCRIPTS-->