{% extends 'agendas_rest_api/_layouts/base3.html' %}
{% load static %}


<!-- head -->
{% block title %}Web Analytics - Real Time{% endblock %}
{% block styles %}{% endblock %}
<!-- /head -->

<!-- conteúdo -->
{% block conteudo%}
<div class="row m-b-2">

	<div class="col-lg-4">
		<div class="card card-block">
			<h5 class="card-title">Vagas do aplicativo</h5>
			<canvas id="chartContainer0" height="250"></canvas>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="card card-block">
			<h5 class="card-title">Vagas do aplicativo</h5>
			<canvas id="chartContainer1" height="250"></canvas>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="card card-block">
			<h5 class="card-title">Vagas do aplicativo</h5>
			<canvas id="chartContainer2" height="250"></canvas>
		</div>
	</div>
</div>

<div class="row m-b-2">
	<div class="col-lg-12">
		<div class="card card-block">
			<h5 class="card-title">Atraso médio por clínica</h5>
			<div id="users-state-bar-chart" style="height: 350px"></div>
		</div>
	</div>


</div>
{% endblock %}
<!-- /conteúdo -->



<!--scripts-->
{% block page_scripts %}
<script src="{% static 'agendas_rest_api/js/myChart.js' %}"></script>

<script type="text/javascript">

	/* Executa uma requisição ajax na api restFul em busca dos dados de vagas para o aplicativo.
	   Na sequência executa as funções barChart() e pieChart() passando os dados obtidos
	   na requisição ajax, e o id do container onde o gráfico deve ser plotado	
	*/
	function loadChart() {
		$.get('http://localhost:9191/agendas_rest_api/getVagasApp/', function (data) {	
			var labels = [];
			var dados = [];
			for (var i = 0; i < data.vagas.length; i++) {
				labels[i] = data.vagas[i][0];
				dados[i] = data.vagas[i][1];
			};
			var ctx1 = document.getElementById('chartContainer0').getContext('2d');
			var ctx2 = document.getElementById('chartContainer1').getContext('2d');
			chartBar(ctx1, labels, dados);
			chartPie(ctx2, labels, dados);
		}, 'json');
	};

	/*Executa a função loadChart() a cada 15 segundos*/
	setInterval(function () {
		loadChart();
	}, 15000);


	/*Executa a função loadChart() no carregamento da página*/
	window.onload = loadChart();
</script>
{% endblock %}
<!--/scripts-->