{% load static %}

<!DOCTYPE html>
<html lang="en">

<!-- head -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>
      {% block title %}América Saúde Analytics{% endblock %}
  </title>

	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="{% static 'agendas_rest_api/assets2/fonts/font-roboto.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'agendas_rest_api/assets2/bootstrap/bootstrap4-alpha3.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'agendas_rest_api/assets2/font-awesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'agendas_rest_api/assets2/web-analytics/style.css' %}">


	<!-- STATICS IMPORTADOS DO TEMPLATE ALGAWORKS -->
	<link rel="stylesheet" type="text/css" href="{% static 'agendas_rest_api/assets/stylesheets/vendors.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'agendas_rest_api/assets/stylesheets/america_analytics.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'agendas_rest_api/assets/stylesheets/application.css' %}">

	<!-- Arquivos necessários para o Bootstrap -->
	<script src="{% static 'agendas_rest_api/assets/javascripts/vendors.min.js' %}"></script>
	<!-- Scripts.js -->
	<script src="{% static 'agendas_rest_api/assets/javascripts/algaworks.min.js' %}"></script>
	<!-- statics importados do template algaworks -->

	<!-- scripts -->
	<script src="{% static 'agendas_rest_api/assets2/jquery/jquery-3.1.0.min.js' %}"></script>
	<script src="{% static 'agendas_rest_api/assets2/tether/tether.min.js' %}"></script>
	<script src="{% static 'agendas_rest_api/assets2/bootstrap/bootstrap4-alpha3.min.js' %}"></script>
	<script src="{% static 'agendas_rest_api/js/vendors/canvasjs-2.2/canvasjs.min.js' %}"></script>
	<script src="{% static 'agendas_rest_api/assets2/web-analytics/real-time.js' %}"></script>
	
	<!-- Bloco de Estilos -->
  {% block page_styles %}{% endblock %}
</head>

<!-- body -->
<body>
	<!-- header -->
	<nav class="navbar navbar-fixed-top" id="header">
		<div class="container-fluid">
			<div class="navbar-header">
				<div id="sidebar-toggle-button">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</div>
				<div class="brand">
					<a href="#">
						<span class="hidden-xs-down m-r-3">América Analytics </span>
					</a>
				</div>
			</div>
		</div>
	</nav>
	<!-- /header -->

	<!-- sidebar (menu lateral) -->
	<div class="sidebar-toggle" id="sidebar">
		<nav class="aw-menu  js-menu">

      <ul class="aw-menu__list">

        <li class="aw-menu__item">
          <a href="#"><i class="fa fa-home"></i><span>Dashboard</span></a>
        </li>

        <li class="aw-menu__item">
          <a href="#">
            <i class="fa fa-save"></i><span>Diretoria</span>
            <i class="aw-menu__navigation-icon  fa"></i>
          </a>		      
          <ul class="aw-menu__list  aw-menu__list--sublist">
            <li class="aw-menu__item  aw-menu__item--link"><a href="#">Vagas por especialidades</a></li>
            <li class="aw-menu__item  aw-menu__item--link"><a href="#">Tempo médio de espera</a></li>
            <li class="aw-menu__item  aw-menu__item--link"><a href="#">Taxa de faltas</a></li>
          </ul>
        </li>

        <li class="aw-menu__item">
          <a href="#">
            <i class="fa fa-list"></i><span>Supervisão</span>
            <i class="aw-menu__navigation-icon  fa"></i>
          </a>    
          <ul class="aw-menu__list  aw-menu__list--sublist">
            <li class="aw-menu__item  aw-menu__item--link"><a href="#">Visão 10</a></li>
            <li class="aw-menu__item  aw-menu__item--link"><a href="#">Visão 02</a></li>
          </ul>
        </li>

        <li class="aw-menu__item">
          <a href="#">
            <i class="fa fa-users"></i><span>Usuários</span>
            <i class="aw-menu__navigation-icon  fa"></i>
          </a>	      
          <ul class="aw-menu__list  aw-menu__list--sublist">
          	<li class="aw-menu__item  aw-menu__item--link"><a href="#">Meu perfil</a></li>
          	<li class="aw-menu__item  aw-menu__item--link"><a href="#">Alterar Senha</a></li>
            <li class="aw-menu__item  aw-menu__item--link"><a href="#">Novo Usuário</a></li>
            <li class="aw-menu__item  aw-menu__item--link"><a href="#">Ver todos</a></li>
          </ul>
        </li>
      </ul>

    </nav>
	</div>
	<!-- /sidebar -->


	<!-- page-content-wrapper -->
	<div class="page-content-toggle" id="page-content-wrapper">

		<!-- container-fluid -->
		<div class="container-fluid">
				{% block conteudo %}{% endblock %}

				<!--AS DUAS DIVs QUE SEGUEM SÃO NECESSÁRIAS, POIS ELAS AFETAM O FUNCIONAMENTO DO MENU LATERAL-->
				<div id="page-views-per-minute-column-chart" hidden="true"></div>
				<div id="page-views-per-second-column-chart" hidden="true"></div>
		</div>
		<!-- /container-fluid -->

	</div>
	<!-- /page-content-wrapper -->


	<!--footer-->
	{% block footer %}
		<footer>
			<hr/>
			<div class="container-fluid">
				<span class="aw-footer-disclaimer">&copy; América saúde analytics -  2018.</span>
			</div>
		</footer>
	{% endblock %}
	<!--/footer-->


	<!--BLOCO DE SCRIPTS-->
	{% block page_scripts %}{% endblock %}
	<!--/BLOCO DE SCRIPTS-->

</body>
<!-- /body -->

</html>